<style>

    H1 {
       position: relative;
       right: -790PX;
       top: -400PX;
       color: RED;

    }



span{
    position: relative;
right: -800px;
top: -360px;
}


   .ccc {
        position:relative;
        top:80px;
        left:100px;
        
      
    }
    

        .navbar{
        overflow:hidden;
        background-color:#333;
        position:fixed;
        bottom:0%;
        width:100%;
        height:7%;
        padding:25x 32px;
       
        }
        .navbar a{
        color: white;
        }
    
    </style>
    <div id=aa class="container">
    <div class="ccc">
        <img src="../static/images/images(13).jpeg">
        <h1>LET'S START THE JOURNEY</h1> </br>
    
     <form action='base.html' method="POST">
      
        
        
    </div>
    
   
    
</div>
<div style="text-align:center;font-size:20px"  class="navbar">
<a href="base.html">Let's Begin</a></div>